<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Upward</title>
    <meta name="description" content="A weekly progress journal for startups">
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    Hello World!
  </body>
  
</html>