<form action="/posts/create" method="post">
  <textarea name="wins"> </textarea>
  <textarea name="lessons"> </textarea>
  <textarea name="goals"> </textarea>

  <input type="submit" value="new post" id="button">
</form>